# Discord
DISCORD_TOKEN=
DEV_GUILD_ID=

# Storage
COMPOSE_FILES_DIRECTORY_PATH=/srv/GameServers/Compose/
GAME_SERVERS_DIRECTORY_PATH=/srv/GameServers/Servers/
BACKUPS_DIRECTORY_PATH=/srv/GameServers/Backups/
TESTS_DIRECTORY_PATH=/srv/GameServers/Tests/

# Optional
NETWORK_INTERFACE=